*{padding: 0px; margin: 0px;}
a{text-decoration: none;}

header {background: grey; height: 60px; width: 100%; box-shadow: 1px  1px 5px #000;}

header section{width: 1200px;}

header section h1{font:bold 30px Verdana; color: white; padding: 10px 5px 5px 50px;}

header section #menu{ width: 300px;float: right; margin-top: -30px;}

header section a{ font: lighter 18px Verdana; padding: 10px; color: white;}

nav{height: 400px; background-color: #81BEF7;}

nav section h2{ font: 30px Verdana;}

nav section img{ width: 300px;}

nav section #info{ float: right; width: 600px;}

#articulos{width: 100%; background:#81BEF7;}
#articulos h2{ font: 30px Verdana; color: white; padding: 10px;}

#articulos section{width: 960px;}
#articulos section article{ display: inline-block; width: 300px; height: 200px;}
#articulos section article img{ width: 100%;}
#articulos section article a{color: white;padding: 5px; float: center; font: 19px Verdana;}

footer{background: grey;height: 60px;}
footer p{ color: white ; font: lighter 20px Verdana; text-align: center; padding: 17px;}
